<a href="https://colab.research.google.com/github/Gaurang0053/GATE-DS-AI/blob/main/Coding_Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist=['bmw','merc','audi','jaguar','volvo'] # printing element
print(mylist)
print(mylist[2].title())

['bmw', 'merc', 'audi', 'jaguar', 'volvo']
Audi

In [ ]:
mylist=['bmw','merc','audi','jaguar','volvo'] # modifying element
mylist[1]='dodge'
print(mylist)

['bmw', 'dodge', 'audi', 'jaguar', 'volvo']

In [ ]:
mylist=['bmw','merc','audi','jaguar','volvo'] # adding element
mylist.append('dodge')
print(mylist)

['bmw', 'merc', 'audi', 'jaguar', 'volvo', 'dodge']

In [ ]:
mylist=['bmw','merc','audi','jaguar','volvo'] # inserting element
mylist.insert(2,'dodge')
mylist.insert(3,'aston')
print(mylist)

mylistpop=mylist.pop(5)
print(mylist)
print(mylistpop)

mylistremove=mylist.remove('dodge')
print(mylist)

['bmw', 'merc', 'dodge', 'aston', 'audi', 'jaguar', 'volvo']
['bmw', 'merc', 'dodge', 'aston', 'audi', 'volvo']
jaguar
['bmw', 'merc', 'aston', 'audi', 'volvo']

# Write a Python program to print the following string in a specific format (see the output).
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

# Write a Python program that calculates the area of a circle based on the radius entered by the user.
Sample Output :
r = 1.1
Area = 3.8013271108436504

In [ ]:
radius=float(input("enter the value of radius"))
area=3.14 * pow(radius,2)
print("The area of circle is ",area)

enter the value of radius1.1
The area of circle is  3.7994000000000008

# Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them

In [ ]:
firstname=input("enter the first name : ")
lastname=input("enter the last name : ")
fullname= f"{lastname} \t {firstname}"
print(fullname)

enter the first name : ram
enter the last name : gupta
gupta 	 ram

#  Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.
Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [ ]:
value=input("enter values: ")
numbers=value.split(',')

numberslist=list(numbers)
print("List:",numberslist)

numberstuple=tuple(numbers)
print("Tuple:",numberstuple)

enter values: 3,5,7,23
List: ['3', '5', '7', '23']
Tuple: ('3', '5', '7', '23')

# Write a Python program that accepts a filename from the user and prints the extension of the file.
Sample filename : abc.java
Output : java

In [ ]:
file=input("enter the file name: ")
exe=file.split('.')
print("The extension of the file is : " + repr(exe[-1]))

enter the file name: abc.java
The extension of the file is : 'java'

# Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],'and',color_list[3])

Red and Black

#  Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [ ]:
exam_st_date = (11, 12, 2014)
print("The examination will start from : %i / %i / %i" % exam_st_date)

The examination will start from : 11 / 12 / 2014

# Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
#Sample value of n is 5
#Expected Result : 615

In [ ]:
n=int(input("enter the value of n: "))
n1=int( "%s"%n)
n2=int( "%s%s"%(n,n))
n3=int( "%s%s%s"%(n,n,n))
print(n1+n2+n3)

enter the value of n: 5
615

# Write a Python program to print the following 'here document'.
#Sample string :
#a string that you "don't" have to escape
#This
#is a ....... multi-line
#heredoc string --------> example

In [ ]:
input="""
      a string that you "don't" have to escape
      This
      is a .......multi-line
      heredoc string --------> example """
print(input)

      a string that you "don't" have to escape
      This
      is a .......multi-line
      heredoc string --------> example

# Write a Python program to calculate the number of days between two dates.
#  Sample dates : (2014, 7, 2), (2014, 7, 11)
#  Expected output : 9 days

In [ ]:
from datetime import date

firstdate= date(2024,7,2)
lastdate= date(2024,7,11)

daysdiff= lastdate-firstdate
print("The number of days between two dates is",daysdiff.days)

The number of days between two dates is 9

# Write a Python program to get the volume of a sphere with radius six.

In [ ]:
pi=3.14
r=6
vol= (4/3 *3.14) *pow(r,3)
print(vol)

904.3199999999999

# Write a Python program to calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference.

In [19]:
number=int(input("Enter the number:"))
difference=number-17
if number<17:
  print(f"The difference between {number} and 17 is",difference)
else:
  print(f"Twice the Absolute difference between {number} and 17 is", 2*difference)

TypeError: 'str' object is not callable

# Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [20]:
n=int(input("Enter the number:"))
if (abs(1000 - n) <= 100) or (abs(2000 - n) <= 100):
    print('The difference of number is equal or less than 100')
else:
    print("The difference of number is not equal or less than 100")

TypeError: 'str' object is not callable